.playlistItem {
    color: var(--border-color);
    height: 45px;

    display: flex;
    align-items: center;
    padding-left: 20px;
}

.svgIcon-playlist{
    position: relative;
    left: -4px;
    top: 1px;
}

#isActive {
    color: var(--text-color);
    box-sizing: border-box;
    border-left: 2px solid var(--text-color);
}

#notActive-svg {
    fill: var(--border-color);
}