.tracklistItem {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

#isActiveTrack {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    box-sizing: border-box;
}