.App {
    background-color: var(--background-primary);
    color: var(--text-color);
    text-align: center;

    /*dimensions*/
    height: 100vh;

    box-sizing: border-box;
    border: 1px solid;
    border-color: var(--border-color);
}