a {
    text-decoration: none;
}
/* CONTAINERS */
.NavBar {
    text-align: left;
    border-bottom: 1px solid var(--border-color);
    height: 30px;
}

.Links{
    height: 100%;
    position: relative;
}

.Links span {
    position: absolute;
    bottom: 5px;
}

/* LINKS */
.Tab {
    color: var(--border-color);
    padding: 0px 10px 5px 10px;
    margin: 0px 5px 0px 5px;
    user-select: none;
    -webkit-user-drag: none;
}

.Tab:hover {
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.Tab:hover .filled {
    fill: var(--text-color);
}

.is-active {
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
    fill: var(--text-color)
}

.filled {
    fill: var(--border-color);
}

.is-active .filled {
    fill: var(--text-color);
}

.svgIcon {
    position: relative;
    left: -4px;
    top: 3px;
}

.svgIconE {
    position: relative;
    left: -4px;
    top: 4px;
}