.playlist {
    display: flex;
    max-height: 100%;
    user-select: none;
    -webkit-user-drag: none;

    border-bottom: 1px solid var(--border-color);
}

.playlist-list {
    float: left;
    width: 225px;
    overflow: auto;
    
    border-right: 1px solid var(--border-color);
}

.playlist-tracklist {
    float: right;
    flex-grow: 100;
    overflow: auto;
}